*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    flex-direction: column;
}
img{
    width: 300px;
    max-width: 100%;
}
.card{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    width: 350px;
}
.card-header{
    height: 200px;
}
.card-content{
    background-color: #fff;
    padding: 30px;
}
.card-title{
    height: 20px;
    margin: 0;
}
.card-excerpt{
    color: #777;
    margin: 10px 0 20px;
}
.author{
    display: flex;
}
.author-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
    width: 100px;
}